/* 
            Encrypter   --version  2.3
William S. Peña [waamirdev@gmail.com] 14th January, 2023 
*/

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffe6e6;
    min-width: 320px;
}

body::-webkit-scrollbar{
    background-color: #ffe6e6;
}

body::-webkit-scrollbar-track{
    margin-top: 5px;
    background-color: #000;
    border-radius: 10px 10px 0 0;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(darkorange, red);
    border-radius: 10px;
    border: .2em solid black;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    margin-right: 32px;
}

.content__containers{
    height: 944px;
}

/* Container where the input text and the actions are */

#left__container{
    width: 70.392%;
    min-width: 600px;
}

#logo__alura{
    padding-bottom: 40px;
}

#logo__alura__img{
    width: 31.09px;
    height: 48px;
}

#input__container{
    width: 71.505%;
    height: 784px;
    margin: 40px;
    margin-left: 21.032%;
}

#input__textarea__container{
    width: 100%;
    height: 655px;
    min-height: 655px;
    max-height: 655px;
}

#textarea__input{
    font-size: 32px;
    color: #990000;
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    line-height: 35px;
}

#textarea__input::placeholder{
    color: #990000;
    opacity: .7; 
}

/* Input Scrollbar */

#textarea__input::-webkit-scrollbar{
    background-color: #ffe6e6;
}

#textarea__input::-webkit-scrollbar-track{
    margin: 5px;
    background-color: transparent;
    border-radius: 10px;
}

#textarea__input::-webkit-scrollbar-thumb{
    background: linear-gradient(darkorange, red);
    border-radius: 10px;
    border: .1em solid #ffe6e6;
}

#warning{
    width: auto;
    height: auto;
    margin-top: 6px;
}

#warning__sign{
    width: 16px;
    height: 16px;
}

#warning__message{
    font-size: 12px;
    line-height: 150%;
    vertical-align: top;
}

/* Input Buttons */

#input__btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.buttons{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 336px;
    height: 67px;
    padding: 24px;
    border: 1px solid #990000;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    transition: 300ms;
}

#encrypt__btn{
    background: #990000;
    color: #ffe6e6;
    margin: 16px 24px;
    margin-left: 0;
}

#encrypt__btn:hover{
    transform: scale(1.1);
}

#decrypt__btn{
    background: #ffe6e6;
    color: #990000;
    margin: 16px 0;
}

#decrypt__btn:hover{
    transform: scale(1.1);
}

/* Container where the output text, the action button and the messages are */

#right__container{
    width: 29.608%;
    min-width: 350px;
    max-width: 400px;
}

#output__container{
    width: 100%;
    height: 944px;
    background: rgb(255, 255, 255);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 32px;
}

/* No output text */

#no__output__text__container{
    width: 100%;
    height: 944px;
    padding: 32px;
}

#person__image__container{
    width: 100%;
    padding-top: 168px;
}

#person__image{
    width: 100%;
}

.no__text__messages{
    width: 100%;
    margin-top: 106px;
}

.no__text__messages p{
    text-align: center;
    width: 100%;
}

#no__messages{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    height: 58px;
    color: #343A40;
}

#order{
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

/* Output text */

#output__text__container{
    width: 100%;
    height: auto;
    padding: 32px;
    display: none;
}

#output__textarea__container{
    width: 100%;
    height: 781px;
    min-height: 781px;
    max-height: 781px;
}

#textarea__output{
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    outline: none;
    border: none;
    resize: none;
}

/* Output Scrollbar */

#textarea__output::-webkit-scrollbar{
    background-color: transparent;
}

#textarea__output::-webkit-scrollbar-track{
    margin: 5px;
    background: #fff;
    border-radius: 10px;
}
#textarea__output::-webkit-scrollbar-thumb{
    background: linear-gradient(darkorange, red);
    border-radius: 10px;
    border: .15em solid #fff;
}

/* Output button */

#output__btn{
    margin-top: 32px;
}

#copy__btn{
    background-color: #FFFFFF;
    color: #990000;
    width: 100%;
}

#copy__btn:hover{
    transform: scale(1.06);
}

/* Matrix Effect */

#matrix__container{
    position: relative;
    top: -944px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: #fff;
    display: none;
}

#matrix__effect{
    border-radius: 32px;
}

/* Gradient between main and footer */

#background__gradient{
    height: 120px;
    background: linear-gradient(#ffe6e6, #000000);
}

/* Up Button */

.up__button__container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.up__button{
    width: 0rem;
    height: 0rem;
    background: #900;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.up__button__icon{
    position: absolute;
    width: 1rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .up__button{
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show .up__button__icon{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4rem;
        height: 4rem;
    }
    100%{
        width: 3rem;
        height: 3rem;
    }
}

/* Footer */

footer{
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

#footer__content{
    display: block;
    width: 75%;
    margin: 5px auto;
    background: #000;
}

#logo__wd{
    width: 32%;
    margin: 0 auto;
}

#social__media__container{
    width: auto;
    height: 30px;
    text-align: right;
}

.social__logos{
    width: 30px;
    height: 100%;
    margin: 0 3px;
}

#copyright__container{
    margin: 0 20px 10px;
    color: #fff;
}

/* Responsive design for a screen with a width between 1040px and 901px */

@media screen and (max-width: 1040px) {
    #content{
        margin: 40px;
    }
    
    /* Container where the input text and the actions are */

    #left__container{
        min-width: 480px;
    }

    #logo__alura{
        padding: 0;
        padding-bottom: 100px;
    }

    #logo__alura__img{
        width: 31.09px;
        height: 50.58px;
    }

    #input__container{
        width: 80%;
        margin: 0 14% 0 6%;
    }
}

/*  Responsive design for a screen with a 1000px width or lower */

@media screen and (max-width: 1000px) {
    #logo__wd{
        min-width: 235px;
    }
}

/*  Responsive design for a screen with a 900px width or lower */

@media screen and (max-width: 900px) {
    #content{
        margin: 40px;
        flex-direction: column;
    }

    .content__containers{
        height: auto;
    }

    /* Container where the input text and the actions are */

    #left__container{
        width: 100%;
        min-width: 0;
    }

    #logo__alura{
        padding: 0;
        margin-top: 33.42px;
        margin-bottom: 90px;
    }

    #input__container{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #input__textarea__container{
        height: 571px;
        min-height: 571px;
        max-height: 571px;
    }

    /* Input buttons */

    #input__btns{
        justify-content: center;
    }

    /* Container where the output text, the action button and the messages are */

    #right__container{
        width: 100%;
        min-width: 0;
        max-width: none;
    }

    #output__container{
        height: 133px;
        margin-top: 48px;
    }

    /* No Output text */

    #no__output__text__container{
        height: auto;
    }

    #person__image__container{
        display: none;
    }

    .no__text__messages{
        margin-top: 0;
    }

    #no__messages{
        height: 29px;
        line-height: 28.8px;
        margin-bottom: 16px;
    }

    /* Output text */

    #output__container{
        max-height: 595px;
    }

    #output__textarea__container{
        height: 180px;
        min-height: 180px;
        max-height: 432px;
    }

    /* Matrix Effect */

    #matrix__container{
        top: -343px;
    }

    /* Footer */

    #copyright__container{
        margin-top: 5px;
    }
}

/*  Responsive design for a screen with a 700px width or lower */

@media screen and (max-width: 700px) {
    #logo__wd{
        min-width: 200px;
    }

    #copyright__container{
        margin-top: 15px;
    }
}

/*  Responsive design for a screen with a 554px width or lower */

@media screen and (max-width: 554px) {
    #output__container{
        height: 150px;
    }

    #logo__wd{
        min-width: 170px;
    }

    #copyright__container{
        margin-top: 17px;
    }
}

/*  Responsive design for a screen with a 375px width or lower */

@media screen and (max-width: 450px) {
    #content{
        margin: 40px 16px;
        margin-top: 0;
    }

    #logo__alura{
        padding: 23px 0;
        margin: 0;
    }

    #logo__alura__img{
        width: 32px;
        height: 48px;
    }

    #input__container{
        margin-top: 72px;
        height: auto
    }

    #input__textarea__container{
        height: 387px;
        min-height: 387px;
        max-height: 570px;
    }

    #right__container{
        padding: 0 9px;
    }

    #output__container{
        max-height: 595px;
    }

    #output__textarea__container{
        max-height: 432px;
    }
}

/*  Responsive design for a screen with a 379px width or lower */

@media screen and (max-width: 379px) {

    /* Input container */

    #input__textarea__container{
        height: 300px;
        min-height: 300px;
        max-height: 624px;
        
    }

    /* Output container */

    #output__container{
        height: 186px;
    }

    #no__messages{
        height: 45%;
    }

    /* Input buttons */

    #input__btns{
        display: block;
    }

    #encrypt__btn{
        width: 100%;
        margin-bottom: 0;
    }

    #decrypt__btn{
        width: 100%;
        margin-bottom: 0;
    }
    
    #copyright__container{
        margin: 20px;
    }
}