/* 
                Encrypter       version--  1.0
William S. Peña [waamirdev@gmail.com] 23rd December, 2022 
 */

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    background-color: transparent;
}

body::-webkit-scrollbar-track{
    margin-top: 5px;
    background: #000000;
    border-radius: 10px 10px 0 0;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(orange, red);
    border-radius: 10px;
    border: .2em solid black;
}

body{
    background: #ffe6e6;
}

header{
    padding: 40px 40px 0 40px;
}

.alura__logo{
    width: 31.09px;
    height: 48px;
}

main{
    margin: 40px;
    display: flex;
}

/* Container where the input text and the actions are */

.input__container{
    margin: 40px 40px 40px 200px;
    width: 680px;
    height: 784px;
}

.text__input{
    font-size: 32px;
    color: #990000;
    background: transparent;
    width: 100%;
    height: 655px;
    border: none;
    outline: none;
    resize: none;
    line-height: 35px;
}

.text__input::placeholder{
    color: #990000;
    opacity: 0.7;
}

.text__input::-webkit-scrollbar{
    background-color: transparent;
}

.text__input::-webkit-scrollbar-track{
    margin-top: 5px;
    background: #ffe6e6;
    border-radius: 10px;
}

.text__input::-webkit-scrollbar-thumb{
    background: linear-gradient(orange, red);
    border-radius: 10px;
    border: .15em solid #ffe6e6;
}

.warning{
    width: auto;
    height: auto;
    margin: 6px 0 0 0;
}

.warning__sign{
    width: 16px;
    height: 16px;
}

.warning span{
    font-size: 12px;
    line-height: 150%;
    vertical-align: top;
}


.input__btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.input__btns button, .output__btn button{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 336px;
    height: 67px;
    padding: 24px;
    border: 1px solid #990000;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    transition: 300ms;
}

.encrypt__btn{
    background: #990000;
    color: #ffe6e6;
    margin: 16px 24px 16px 0;
}

.encrypt__btn:hover{
    background: #ffe6e6;
    color: #990000;
}

.decrypt__btn{
    background: #ffe6e6;
    color: #990000;
    margin: 16px 24px 16px 0;
}

.decrypt__btn:hover{
    background: #990000;
    color: #ffe6e6;
}

/* Container where the output text, the action and the messages are */

.output__container{
    position: absolute;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 991px;
    padding: 32px;
    background: rgb(255, 255, 255);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 32px;
}

/* No output text */

.no__output__text__containers{
    width: 336px;
}

.person__image{
    position: absolute;
    width: 100%;
    top: 200px;
}

.messages{
    position: relative;
    top: 580px;
}

.messages p{
    text-align: center;
    width: 100%;
}

.no__message{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    height: 58px;
    color: #343A40;
}

.order{
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

/* Output text */

.output__text{
    width: 336px;
}

.text__output{
    width: 100%;
    height: 781px;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    outline: none;
    resize: none;
    border: none;
}

.text__output::-webkit-scrollbar{
    background-color: transparent;
}

.text__output::-webkit-scrollbar-track{
    margin-top: 5px;
    background: #fff;
    border-radius: 10px;
}

.text__output::-webkit-scrollbar-thumb{
    background: linear-gradient(orange, red);
    border-radius: 10px;
    border: .15em solid #fff;
}

.output__btn{
    margin: 32px 0;
}

.copy__btn{
    background: #FFFFFF;
    color: #990000;
}

.copy__btn:hover {
    background: #990000;
    color: #FFFFFF;
}


/* To show only one output container */

.no__output__text__container{
    display: block;
    opacity: 1;
}

.output__text__container{
    display: none;
}

/* Matrix Effect */

.matrix__container{
    position: absolute;
    top: 40px;
    left: 991px;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    background: #FFF;
    display: none;
}

.matrix__effect{
    border-radius: 32px;
}

/* Gradient between main and footer */

.background__gradient{
    display: block;
    height: 120px;
    background: linear-gradient(#ffe6e6, #000000);
}

/* Footer */

footer{
    /* height: 400px; */
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.footer{
    display: block;
    width: 70%;
    margin: 0 auto;
}

.logo__wd{
    width: 300px;
    margin: 0 auto;
}

/* Social Media Apps */

.social__media{
    width: auto;
    height: 30px;
    text-align: right;
}

.social__media__logos{
    width: 30px;
    margin: 0 2px;
}

.copyright {
    margin: 0px 20px;
    color: #FFFFFF;
}

.copyright p{
    margin-bottom: 4px;
}


/* Responsive design for a Tablet */

@media screen and (max-width: 768px) {
    header{
        padding: 0;
        margin: 73.42px 40px 90px 40px;
    }
    
    .alura__logo{
        width: 31.09px;
        height: 50.58px;
    }

    main{
        flex-direction: column;
    }

    /* Container where the input text and the actions are */

    .input__container{
        margin: 0;
        width: 100%;
    }

    /* Container where the output text, the action and the messages are */

    .output__container{
        position: static;
        margin: 48px 0 0 0;
        width: 100%;
        height: 133px;
    }

    .person__image{
        display: none;
    }

    .messages{
        position: static;
        width: 100%;
        height: 69px;
    }
    
    .no__message{
        height: 29px;
        line-height: 28.8px;
        margin: 0 0 16px 0;
    }

    .order{
        height: 24px;
    }

    /* Output text */

    .output__text__container{
        width: 100%
    }

    .output__text{
        width: 100%;
        height: 180px;
    }

    .text__output{
        width: 100%;
        height: 100%;
    }

    .output__btn button{
        width: 100%;
    }

    /* Matrix Effect */

    .matrix__container{
        position: relative;
        top: -343px;
        left: 0px;
        width: 100%;
        height: 343px;
    }

    /* Copyright */

    .copyright{
        margin-top: 10px;
    }
}

@media screen and (max-width: 375px) {
    header{
        height: 96px;
        margin: 0;
        padding-top: 24px;
        padding-left: 16px;
        padding-bottom: 24px;
    }

    .alura__logo{
        width: 32px;
        height: 48px;
    }

    main{
        margin: 16px;
    }

    /* Container where the input text and the actions are */

    .input__container{
        width: 343px;
        margin-top: 56px;
        height: 500px;
    }

    .text__input{
        height: 300px;
    }

    
    /* Encrypt and Decrypt buttons */

    .input__btns{
        height: 158px;
        display: block;
    }

    .input__btns button{
        margin: 0;
        margin-top: 16px;
    }

    .encrypt__btn{
        width: 343px;
    }

    /* Container where the output text, the action and the messages are */

    .output__container{
        position: relative;
        left: 9px;
        width: 327px;
        height: 186px;
        margin: 0;
    }

    .messages{
        height: 122px;
    }

    .no__message{
        height: 45%;
    }

    /* Matrix Effect */

    .matrix__container{
        top: -303px;
        left: 9px;
        width: 327px;
        height: 343px;
    }

    /* Footer */

    .footer{
        width: 80%;
    }

    .logo__wd{
        width: 71%;
    }

    .copyright{
        margin: 15px;
    }
}